<div class="main-container">
  <div class="nav">
    <div class="nav-logo">
      <div>
        <h1>Portofolio ...</h1>
      </div>
    </div>
    <div class="nav-links">
      <div class="nav__item">
        <a (click)="smoothScroll('homeSection')" routerLinkActive="active"
          >Home</a
        >
      </div>
      <div class="nav__item">
        <a (click)="smoothScroll('aboutSection')" routerLinkActive="active"
          >About</a
        >
      </div>
      <div class="nav__item">
        <a (click)="smoothScroll('projectsSection')" routerLinkActive="active"
          >Projects</a
        >
      </div>
      <div class="nav__item">
        <a (click)="smoothScroll('skillsSection')" routerLinkActive="active"
          >Skills</a
        >
      </div>
      <div class="nav__item">
        <a (click)="smoothScroll('contactSection')" routerLinkActive="active"
          >Contact</a
        >
      </div>
    </div>
  </div>
</div>
