<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>APP</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    <script src="" async defer></script>
  </body>
</html>

<div class="header" role="banner">
  <app-navbar />
  <app-hero id="homeSection" />
  <app-section
    id="aboutSection"
    title=""
    content=""
    width="100%"
    height="100vh"
    [otherStyles]="{
      'background-color': '',
      padding: '1rem',
      'border-radius': '5px',
      'box-shadow': '2px 2px 5px rgba(0, 0, 0, 0.1)',
      display: 'flex',
      'flex-direction': 'column',
      'align-items': 'center',

      'margin-bottom': '1rem'
    }"
  >
    <div class="first-seccond-container">
      <div class="first-container">
        <img src="assets/section1photo.jpg" alt="section1" />
      </div>
      <div class="second-container">
        <div class="about-me">
          <h1 class="title">About me</h1>
          <p class="description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima
            dignissimos neque iure molestias illum excepturi tempore, numquam
            sed. Sint error inventore provident dolorem officiis aliquam
            consequuntur assumenda magnam, doloribus aspernatur omnis animi,
            voluptate vel voluptatibus nulla odio nisi enim, dignissimos dolor
            quod perferendis ullam ea tempora laudantium! Quidem voluptate
            consequatur asperiores nam nulla ea repudiandae laudantium
            exercitationem voluptatum cum veritatis nihil expedita dicta, quae
            perferendis at corrupti nobis voluptates molestias? Consectetur,
            hic! Doloremque illum quasi blanditiis dolor, suscipit doloribus sit
            ex ullam aut cupiditate, laudantium repellendus quas nobis minus
            dicta veritatis id. Eius cumque assumenda repudiandae corrupti sit
            itaque nesciunt.
          </p>
          <div class="about-me-button-container">
            <app-button
              text="Resume"
              color="#ffffff"
              background-color="#007bff"
              hoverBackgroundColor="#0062cc"
              hoverColor="#ffffff"
              border-radius="5px"
              [otherStyles]="{
                'font-size': '16px',
                'font-weight': 'bold',
                margin: '10px 0 10px 0px',
                width: '10rem'
              }"
            ></app-button>
          </div>
        </div>
      </div>
    </div>
  </app-section>
  <app-section
    id="projectsSection"
    title=""
    content=""
    width="100%"
    height="100vh"
    [otherStyles]="{
      'background-color': '',
      padding: '1rem',
      'box-shadow': '2px 2px 5px rgba(0, 0, 0, 0.1)',
      display: 'flex',
      'flex-direction': 'column',
      'align-items': 'center',
      'justify-content': 'center',
      'margin-bottom': '1rem'
    }"
  >
    <div class="cards-container">
      <app-card
        title="Project 1"
        [content]="{
          text: '',
          imageSrc: '/assets/project.png',
          imageAlt: ''
        }"
        width="20rem"
        height="30rem"
        [otherStyles]="{
          'border-radius': '8px',
          '-webkit-box-shadow': ' 1px 1px 12px 2px rgba(110, 110, 110, 0.2)',
          'box-shadow': '1px 1px 12px 2px rgba(110, 110, 110, 0.2)',
          display: 'flex',
          'flex-direction': 'column',
          'align-items': 'center',
          'font-size': '1.5rem'
        }"
      ></app-card>
      <app-card
        title="Project 2"
        [content]="{
          text: '',
          imageSrc: '/assets/project2.jpg',
          imageAlt: ''
        }"
        width="20rem"
        height="30rem"
        [otherStyles]="{
          'border-radius': '8px',
          '-webkit-box-shadow': ' 1px 1px 12px 2px rgba(110, 110, 110, 0.2)',
          'box-shadow': '1px 1px 12px 2px rgba(110, 110, 110, 0.2)',
          display: 'flex',
          'flex-direction': 'column',
          'align-items': 'center',
          'font-size': '1.5rem'
        }"
      ></app-card>
      <app-card
        title="Project 3"
        [content]="{
          text: '',
          imageSrc: '/assets/project3.jpg',
          imageAlt: ''
        }"
        width="20rem"
        height="30rem"
        [otherStyles]="{
          'border-radius': '8px',
          '-webkit-box-shadow': ' 1px 1px 12px 2px rgba(110, 110, 110, 0.2)',
          'box-shadow': '1px 1px 12px 2px rgba(110, 110, 110, 0.2)',
          display: 'flex',
          'flex-direction': 'column',
          'align-items': 'center',
          'font-size': '1.5rem'
        }"
      ></app-card>
      <app-card
        title="Project 4"
        [content]="{
          text: '',
          imageSrc: '/assets/project4.jpg',
          imageAlt: ''
        }"
        width="20rem"
        height="30rem"
        [otherStyles]="{
          'border-radius': '8px',
          '-webkit-box-shadow': ' 1px 1px 12px 2px rgba(110, 110, 110, 0.2)',
          'box-shadow': '1px 1px 12px 2px rgba(110, 110, 110, 0.2)',
          display: 'flex',
          'flex-direction': 'column',
          'align-items': 'center',
          'font-size': '1.5rem'
        }"
      ></app-card>
    </div>
  </app-section>
  <app-section
    #skillsSection
    id="skillsSection"
    title=""
    content=""
    width="100%"
    height="100vh"
    [otherStyles]="{
      'background-color': '',
      padding: '1rem',
      'box-shadow': '2px 2px 5px rgba(0, 0, 0, 0.1)',
      display: 'flex',
      'flex-direction': 'column',
      'align-items': 'center',
      'justify-content': 'center',
      'margin-bottom': '1rem'
    }"
  >
    <div class="skills-icons-container">
      <i class="skill-icon fa-brands fa-square-js fa-beat-fade"></i>
      <i class="skill-icon fa-brands fa-beat fa-react fa-bounce"></i>
      <i class="skill-icon fa-brands fa-beat fa-angular fa-fade"></i>
      <i class="skill-icon fa-brands fa-beat fa-node-js fa-flip"></i>
      <i class="skill-icon fa-brands fa-beat fa-css3 fa-shake"></i>
      <i class="skill-icon fa-brands fa-beat fa-html5 fa-spin"></i>
    </div>
  </app-section>
  <app-section
    id="contactSection"
    title=""
    content=""
    width="100%"
    height="100vh"
    [otherStyles]="{
      'background-color': '',
      padding: '1rem',
      'box-shadow': '2px 2px 5px rgba(0, 0, 0, 0.1)',
      display: 'flex',
      'flex-direction': 'column',
      'align-items': 'center',
      'margin-bottom': '1rem',
      'justify-content': 'center',
    }"
  >
    <div class="contact-container">
      <div class="contact-details">
        <div class="details-container">
          <!-- <div class="name">
            <i class="icon fa-solid fa-xl fa-user"></i>
            <P>First Name</P>
          </div>
          <div class="lastname">
            <i class="icon fa-solid fa-xl fa-user"></i>
            <P>Last Name</P>
          </div>
          <div class="email">
            <i class="icon fa-solid fa-xl fa-envelope"></i>
            <P>Email</P>
          </div>
          <div class="adress">
            <i class="icon fa-solid fa-xl fa-location-dot"></i>
            <P>Adress</P>
          </div>
          <div class="phone">
            <i class="icon fa-solid fa-xl fa-phone-volume"></i>
            <P>Phone Number</P>
          </div> -->
          <div class="details-left">
            <h1 class="lets">Let's</h1>
            <h1 class="work">Work</h1>
            <h1 class="together">Together</h1>
          </div>
        </div>
      </div>
      <div class="border"></div>
      <div class="contact">
        <app-contactform></app-contactform>
      </div>
    </div>
  </app-section>
  <app-backtotop *ngIf="showBackToTop"></app-backtotop>
  <app-footer></app-footer>
  <router-outlet></router-outlet>
</div>
