$backgroundColor: #007bff;
$color: #ffffff;
$borderRadius: 8px;
$hoverBackgroundColor: #0062cc;
$hoverColor: #ffffff;

button {
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: $backgroundColor;
  color: $color;
  border-radius: $borderRadius;
  box-sizing: border-box;

  &:hover {
    background-color: $hoverBackgroundColor;
    color: $hoverColor;
    cursor: pointer;
  }
}
